<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>

<body>
    填写问卷:
    <input type="text">
    <input id="submit_b" type="button" value="提交">
    <input id="submit_c" type="button" value="test_router">
    <input id="submit_d" type="button" value="1">
    <input id="submit_e" type="button" value="2">
    <input id="submit_f" type="button" value="3">
    <div id="qrcode"></div>
    <script src="./qrcode.min.js"></script>
    <script src="./jquery-2.1.0.js"></script>
    <script>
        document.getElementById("submit_c").addEventListener("click", function () {
            $.ajax({
                type: "post",
                url: "/user/userLogin",
                async: true,
                data: {
                    moneySum: 100
                },
                success: function (data) {
                    console.log(JSON.stringify(data))
                },
                error: function (e) {
                    alert(e.responseText)
                }
            })
        })
        document.getElementById("submit_d").addEventListener("click", function () {
        })
        document.getElementById("submit_e").addEventListener("click", function () {
        })
    </script>
</body>

</html>