<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>

<body>
    填写问卷:
    <input type="text">
    <input id="submit_b" type="button" value="提交">
    <input id="submit_c" type="button" value="<%=title%>">
    <input id="submit_d" type="button" value="testSendXml">
    <div id="qrcode"></div>
    <script src="./qrcode.min.js"></script>
    <script src="./jquery-2.1.0.js"></script>
    <script>
        var APPID = "wx986fbde73494c321";
        var REDIRECT_URI = "http://ipromiseyourlife.com/wechat/wechat.html";
        var SCOPE = "snsapi_userinfo";
        var STATE = ""; //重定向后会带上state参数，开发者可以填写a-zA-Z0-9的参数值，最多128字节
        var href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + APPID + "&redirect_uri=" + encodeURIComponent(REDIRECT_URI) + "&response_type=code&scope=" + SCOPE + "&state=" + STATE + "#wechat_redirect"
        document.getElementById("submit_b").addEventListener("click", function () {
            window.location.href = href;
        })
        var qrcode = new QRCode("qrcode");
        var x = "<%=title%>"
        console.log("<%=title%>")
        console.log(x)
        document.getElementById("submit_c").addEventListener("click", function () {
            $.ajax({
                type: "get",
                url: "/wechat/getPayLink",
                async: true,
                data: {
                    moneySum: 1
                },
                success: function (data) {
                    console.log(JSON.stringify(data))
                    qrcode.makeCode(data.data.code_url);
                },
                error: function (e) {
                    alert("服务器错误，请联系我们")
                }
            })
        })
        document.getElementById("submit_d").addEventListener("click", function () {
            var xml =`<xml>
  <appid><![CDATA[wx2421b1c4370ec43b]]></appid>
  <attach><![CDATA[支付测试]]></attach>
  <bank_type><![CDATA[CFT]]></bank_type>
  <fee_type><![CDATA[CNY]]></fee_type>
  <is_subscribe><![CDATA[Y]]></is_subscribe>
  <mch_id><![CDATA[10000100]]></mch_id>
  <nonce_str><![CDATA[5d2b6c2a8db53831f7eda20af46e531c]]></nonce_str>
  <openid><![CDATA[oUpF8uMEb4qRXf22hE3X68TekukE]]></openid>
  <out_trade_no><![CDATA[1409811653]]></out_trade_no>
  <result_code><![CDATA[SUCCESS]]></result_code>
  <return_code><![CDATA[SUCCESS]]></return_code>
  <sign><![CDATA[B552ED6B279343CB493C5DD0D78AB241]]></sign>
  <sub_mch_id><![CDATA[10000100]]></sub_mch_id>
  <time_end><![CDATA[20140903131540]]></time_end>
  <total_fee>1</total_fee>
<coupon_fee_0><![CDATA[10]]></coupon_fee_0>
<coupon_count><![CDATA[1]]></coupon_count>
<coupon_type><![CDATA[CASH]]></coupon_type>
<coupon_id><![CDATA[10000]]></coupon_id> 
  <trade_type><![CDATA[JSAPI]]></trade_type>
  <transaction_id><![CDATA[1004400740201409030005092168]]></transaction_id>
</xml>`;
            $.ajax({
                url: '/wechat/getPayCallback',
                type: 'POST',
                data: xml,
                dataType: 'xml',
                success: function (xmlDoc) {
                    console.log(xmlDoc)
                },
                error: function (xhr) { alert('发生错误！\n' + xhr.responseText); }
            });
})
    </script>
</body>

</html>