<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luosimao Captcha</title>
    <link type="text/css" rel="stylesheet" href="luosimao.css">
</head>

<body>
    <div class="captcha-widget" id="l_captcha_widget" data-token="slP_6hmJ9xu9SRwAe3UKHw" data-key="hello,123">
        <!-- theme class -->
        <div class="captcha-widget-menu theme-default">
            <span class="captcha-widget-copyright">
                <a href="javascript:" id="l_captcha_link" title="Luosimao人机验证服务">
                    <i class="copyright-icon"></i>
                </a>
            </span>
            <div class="captcha-widget-event">
                <span class="captcha-widget-status">
                    <i class="status-icon"></i>
                </span>
                <span class="captcha-widget-text">点击此处进行验证</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//captcha.luosimao.com/static/dist/widget.js?v=201812141420.js"></script>
</body>

</html>